<li><%= link_to "Shows", shows_path %></li>
<li><%= link_to "Country", country_shows_path %></li>
<li><%= link_to "Actors", actors_shows_path %></li>
<li><%= link_to "Networks", networks_shows_path %></li>
<li><%= link_to "Genres", genres_shows_path %></li>
<li><%#= link_to "Test Page", test_page_shows_path %></li>