<!--This search tag is from rails cast 240-->
<form class="form-inline" role="form">
<%= form_tag shows_path, :method => 'post' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

     <h4>Show Name Search</h4>
     <%= text_field_tag :show_name_search, params[:show_name_search] %><br>
     <button type="submit" class="btn btn-default btn-sm" name="nil">Search Show Names</button>

    <h4>Category Filter</h4>
    <%= check_box_tag :drama, "drama", params[:drama] %>
    <%= label_tag :drama, "Drama", :class => "checkbox inline" %><br>
    <%= check_box_tag :adventure, "adventure", params[:adventure] %>
    <%= label_tag :adventure, "Action/Adventure/Thriller", :class => "checkbox inline" %><br>
    <%= check_box_tag :horror, "horror", params[:horror]  %>
    <%= label_tag :horror, "Horror", :class => "checkbox inline" %><br>
    <%= check_box_tag :comedy, "comedy", params[:comedy]  %>
    <%= label_tag :comedy, "Comedy", :class => "checkbox inline" %><br>
    <%= check_box_tag :children, "children", params[:children]  %>
    <%= label_tag :children, "Children's", :class => "checkbox inline" %><br>
    <%= check_box_tag :documentary, "documentary", params[:documentary]  %>
    <%= label_tag :documentary, "Documentary", :class => "checkbox inline" %><br>
    <%= check_box_tag :police, "police", params[:police]  %>
    <%= label_tag :police, "Police Procedural", :class => "checkbox inline" %><br>
    <%= check_box_tag :reality, "reality", params[:reality]  %>
    <%= label_tag :reality, "Reality", :class => "checkbox inline" %><br>
    <%= check_box_tag :sitcom, "sitcom", params[:sitcom]  %>
    <%= label_tag :sitcom, "Sitcom", :class => "checkbox inline" %><br>
    <%= check_box_tag :science_fiction, "science fiction", params[:science_fiction]  %>
    <%= label_tag :science_fiction, "Science Fiction", :class => "checkbox inline" %><br>
    <%= text_field_tag :genre_search, params[:genre_search] %><br>
    <button type="submit" class="btn btn-default">Filter by Categories</button><br><br>

    <h4>First Aired Filter</h4>
      <%= label_tag :start_date_after, "After Date" %><br>
      <%= date_select("start_date_after", "after_date", start_year: Time.now.year, end_year: 1950, order: [:month, :year], prompt: { month: 'Select month', year: 'Select year' }) %>
      <%= label_tag :start_date_before, "Before Date" %><br>
      <%= date_select("start_date_before", "before_date", start_year: Time.now.year, end_year: 1950, order: [:month, :year], prompt: { month: 'Select month', year: 'Select year' }) %>
      <button type="submit" class="btn btn-default">Filter by First Aired</button><br><br>

      <!--<h4>Last Aired Before:</h4>-->
      <!--<%#= label_tag :last_aired_before, "Before Date" %>-->
      <!--<%#= date_select("last_aired_before", "before_date", start_year: Time.now.year, end_year: 1950, order: [:month, :year], prompt: { month: 'Select month', year: 'Select year' }) %>-->
      <!--<button type="submit" class="btn btn-default">Filter by Last Aired</button><br><br>-->

     <h4>Serialized Filter</h4>
     <%= check_box_tag :serialized_only, "serial", params[:serialized_only]  %>
     <%= label_tag :serialized_only, "Serialized Only", :class => "checkbox inline" %><br>
      <button type="submit" class="btn btn-default">Serialized Only</button><br><br>

      <h4>Availability Filter</h4>
      <%= check_box_tag :amazon_instant, "amazon instant", params[:amazon_instant] %>
      <%= label_tag :amazon_instant, "Amazon Instant", :class => "checkbox inline" %><br>
      <%= check_box_tag :amazon_own, "amazon own", params[:amazon_own]  %>
      <%= label_tag :amazon_own, "Amazon Own", :class => "checkbox inline" %><br>
      <%= check_box_tag :itunes, "itunes", params[:itunes]  %>
      <%= label_tag :itunes, "iTunes", :class => "checkbox inline" %><br>
      <button type="submit" class="btn btn-default">Filter by Availability</button><br>

      <h4>IMDB Rating Filter</h4>
      <%= label_tag :min_imdb_rating, "Minimum", :class => "checkbox inline" %>
      <%= number_field_tag :min_imdb_rating, params[:min_imdb_rating], :in => 1...10 %><br>
      <%= label_tag :max_imdb_rating, "Maximum", :class => "checkbox inline" %>
      <%= number_field_tag :max_imdb_rating, params[:max_imdb_rating], :in => 1...10 %><br>
      <button type="submit" class="btn btn-default">Filter by IMDB Rating</button><br>

      <h4>Metacritic Rating Filter</h4>
      <%= label_tag :min_metacritic_average_rating, "Minimum", :class => "checkbox inline" %>
      <%= number_field_tag :min_metacritic_average_rating, params[:min_metacritic_average_rating], :in => 1...100 %><br>
      <%= label_tag :max_metacritic_average_rating, "Maximum", :class => "checkbox inline" %>
      <%= number_field_tag :max_metacritic_average_rating, params[:max_metacritic_average_rating], :in => 1...100 %><br>
      <button type="submit" class="btn btn-default">Filter by Metacritic Rating</button><br>
      
      <h4>TV.com Rating Filter</h4>
      <%= label_tag :min_tv_dot_com_rating, "Minimum", :class => "checkbox inline" %>
      <%= number_field_tag :min_tv_dot_com_rating, params[:min_tv_dot_com_rating], :in => 1...10 %><br>
      <%= label_tag :max_tv_dot_com_rating, "Maximum", :class => "checkbox inline" %>
      <%= number_field_tag :max_tv_dot_com_rating, params[:max_tv_dot_com_rating], :in => 1...10 %><br>
      <button type="submit" class="btn btn-default">Filter by TV.com Rating</button><br>

      <h4>Actor/Actress Search</h4>
      <%= text_field_tag :actor_search, params[:actor_search] %><br>
      <button type="submit" class="btn btn-default btn-sm" name="nil">Search Actor/Actresses</button>

      <h4>Number of Ratings Filter</h4>
      <%= label_tag :imdb_min_rating_count, "IMDB - Minimum", :class => "checkbox inline" %>
      <%= number_field_tag :imdb_min_rating_count, params[:imdb_min_rating_count], :in => 1...10 %><br>
      <%= label_tag :tv_dot_com_min_rating_count, "TV.com - Minimum", :class => "checkbox inline" %>
      <%= number_field_tag :tv_dot_com_min_rating_count, params[:tv_dot_com_min_rating_count], :in => 1...10 %><br>
      <button type="submit" class="btn btn-default">Filter by Number of Ratings</button><br>

      <h4>Language Filter</h4>
      <%= check_box_tag :language, "english", params[:language]  %>
      <%= label_tag :language, "English Only", :class => "checkbox inline" %><br>
      <button type="submit" class="btn btn-default">Filter by Language</button><br><br>


      <h4>Country Filter</h4>
      <%= check_box_tag :united_states, "united_states", params[:united_states] %>
      <%= label_tag :united_states, "United States", :class => "checkbox inline" %><br>
      <%= check_box_tag :united_kingdom, "united_kingdom", params[:united_kingdom]  %>
      <%= label_tag :united_kingdom, "United Kingdom", :class => "checkbox inline" %><br>
      <%= check_box_tag :commonwealth, "commonwealth", params[:commonwealth] %>
      <%= label_tag :commonwealth, "Other English Speaking Countries", :class => "checkbox inline" %>
      <%= text_field_tag :country_search, params[:country_search] %><br>
      <button type="submit" class="btn btn-default">Filter by Country</button><br><br>

      <h4>Search by Network</h4>
      <%= text_field_tag :network_search, params[:network_search] %><br>
      <button type="submit" class="btn btn-default btn-sm" name="nil">Search Networks</button><br><br>

      <h4>Search by Actor/Actress</h4>
      <%= text_field_tag :actor_search, params[:actor_search] %><br>
      <button type="submit" class="btn btn-default btn-sm" name="nil">Search Actors</button><br><br>

      <h5>Search by Season & Epsiode Count</h5>
      <%= label_tag :min_seasons, "Minimum Number of Seasons", :class => "checkbox inline" %>
      <%= number_field_tag :min_seasons, params[:min_seasons], :in => 1...100 %><br>
      <%= label_tag :max_seasons, "Maximum Number of Seasons", :class => "checkbox inline" %>
      <%= number_field_tag :max_seasons, params[:max_seasons], :in => 1...100 %><br>
    <button type="submit" class="btn btn-default">Filter by Season Count</button><br><br>

      <%= label_tag :min_episodes, "Minimum Number of Episodes", :class => "checkbox inline" %>
      <%= number_field_tag :min_episodes, params[:min_episodes], :in => 1...100 %><br>
      <%= label_tag :max_episodes, "Maximum Number of Episodes", :class => "checkbox inline" %>
      <%= number_field_tag :max_episodes, params[:max_episodes], :in => 1...100 %><br>
      <button type="submit" class="btn btn-default">Filter by Episode Count</button><br><br>


<% end %>
</form>