<%- model_class = Genre -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<p>Country Count: <%= @genres.count %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= sortable "name", "Genre Name" %></th>
    <th>Shows In Genre</th>
  </tr>
  </thead>
  <tbody>
  <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= number_with_delimiter(genre.shows.count) %></td>
      </tr>
  <% end %>
  </tbody>
</table>