<%- model_class = Show -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<p>Show Count: <%= @shows.count %></p>
<p>Controller Test: <%= @test %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= sortable "show_name", "Show Name" %></th>
    <th>Wikipedia Page ID</th>
    <th><%= sortable "genre_1", "Genre" %></th>
    <th><%= sortable "format_1", "Format" %></th>
    <th>Serialized</th>
    <th><%= sortable "first_aired", "First Aired" %></th>
    <th><%= sortable "last_aired", "Last Aired" %></th>
    <th><%= sortable "modified_number_of_seasons", "Number of Seasons" %></th>
    <th><%= sortable "number_of_episodes", "Number of Episodes" %></th>
    <th><%= sortable "modified_network_1", "Network" %></th>
    <th><%= sortable "modified_language", "Language" %></th>
    <th><%= sortable "country_1", "Country" %></th>
    <th>Show Info</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @shows.each do |show| %>
      <tr>
        <td><%= link_to show.modified_show_name, "http://en.wikipedia.org/wiki/#{show.show_name}" %></td>
        <td><%= show.wikipedia_page_id %></td>
        <td><%= show.genre_1.try(:titleize) %></td>
        <td><%= show.format_1.try(:titleize) %></td>
        <td><%= show.serialized %></td>
        <td><%= show.modified_first_aired %></td>
        <td><%= show.modified_last_aired %></td>
        <td><%= show.modified_number_of_seasons %></td>
        <td><%= show.number_of_episodes %></td>
        <td><%= show.modified_network_1 %></td>
        <td><%= show.modified_language.try(:titleize) %></td>
        <td><%= show.country_1.try(:titleize) %></td>
        <td><%= link_to t('.show', :default => t("helpers.links.show")),
                        show_path(show), :class => 'btn btn-mini' %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_show_path(show), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      show_path(show),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @shows %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_show_path,
            :class => 'btn btn-primary' %>
