<%- model_class = Show -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:wikipedia_page_id) %>:</strong></dt>
  <dd><%= @show.wikipedia_page_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:show_name) %>:</strong></dt>
  <dd><%= @show.show_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_aired) %>:</strong></dt>
  <dd><%= @show.first_aired %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_aired) %>:</strong></dt>
  <dd><%= @show.last_aired %></dd>
  <dt><strong><%= model_class.human_attribute_name(:show_active) %>:</strong></dt>
  <dd><%= @show.show_active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_of_episodes) %>:</strong></dt>
  <dd><%= @show.number_of_episodes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:number_of_seasons) %>:</strong></dt>
  <dd><%= @show.number_of_seasons %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre_1) %>:</strong></dt>
  <dd><%= @show.genre_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre_2) %>:</strong></dt>
  <dd><%= @show.genre_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre_3) %>:</strong></dt>
  <dd><%= @show.genre_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre_4) %>:</strong></dt>
  <dd><%= @show.genre_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre_5) %>:</strong></dt>
  <dd><%= @show.genre_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:format_1) %>:</strong></dt>
  <dd><%= @show.format_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:format_2) %>:</strong></dt>
  <dd><%= @show.format_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:format_3) %>:</strong></dt>
  <dd><%= @show.format_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:format_4) %>:</strong></dt>
  <dd><%= @show.format_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:format_5) %>:</strong></dt>
  <dd><%= @show.format_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_1) %>:</strong></dt>
  <dd><%= @show.country_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_2) %>:</strong></dt>
  <dd><%= @show.country_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country_3) %>:</strong></dt>
  <dd><%= @show.country_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:network_1) %>:</strong></dt>
  <dd><%= @show.network_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:network_2) %>:</strong></dt>
  <dd><%= @show.network_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
  <dd><%= @show.language %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serialized) %>:</strong></dt>
  <dd><%= @show.serialized %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              shows_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_show_path(@show), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              show_path(@show),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
