<% wikipediaapiquery = @wikipediaapiquery.where(:wikipedia_page_id => 26032118).first %>
<p><% string = wikipediaapiquery.infobox %></p>
<% string2 = string.gsub(/\\n/i," ") %>
<%= string2 %>
<% string3 = /\bgenre\b\s*=(?:\[\[)?(.+?)(?:\]\])?(?=\s\|)/m.match(string2) %>
<p><%= string3 %></p>
<% string4 = string3.to_s.gsub(/<\/?[^>]*>/, "") %>
<p><%= string4 %></p>
<% string5 = string4.gsub("genre","").gsub(/unbulleted list|plainlist/i,"") %>
<p><%= string5 %></p>
<% string6 = string5.scan(/\w+\'?\-?\s?\\?\w+?\'?\-?\s?\\?\w+?\'?/m) %>
<p><%= string6 %></p>